@model DoctorAppointmentSystem.ViewModels.RequestsViewModel
@using DoctorAppointmentSystem.Models
@{ 
    ViewBag.Title = "Appointments";
}

<h2>Appointments</h2>

<table class="table table-striped" id="appointments">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Patient</th>
            <th scope="col">Slot</th>
            <th scope="col">Status</th>
            <th scope="col" class="nosort"></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 1;
            foreach (var req in Model.Appointments)
            {
                <tr>
                    <th scope="row">@count@{count++;}</th>
                    <td>@req.ApplicationUser.Name</td>
                    <td>@req.Slot.AvailableFrom - @req.Slot.AvailableTill</td>
                    <td>@req.Status</td>
                    @if (req.Status == AppointmentStatus.Pending)
                    {
                        <td>
                            <button data-url="/Doctor/ApproveAppointment/@req.Id" data-action="Approve" class="btn btn-primary">Approve</button>
                            <button data-url="/Doctor/RejectAppointment/@req.Id" data-action="Reject" class="btn btn-danger">Reject</button>
                        </td>
                    }
                    else
                    {
                        <td>
                            <button data-url="/Doctor/ApproveAppointment/@req.Id" data-action="Approve" class="btn btn-primary" disabled>Approve</button>
                            <button data-url="/Doctor/RejectAppointment/@req.Id" data-action="Reject" class="btn btn-danger" disabled>Reject</button>
                        </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>
@section scripts{
    <script src="~/Scripts/app.doctor.index.js"></script>
}