@model DoctorAppointmentSystem.ViewModels.RequestsViewModel
@using DoctorAppointmentSystem.Models
@{ 
    ViewBag.Title = "Appointments";
}

<h2>Appointments</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Patient</th>
            <th scope="col">Slot</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 1;
            foreach (var req in Model.Appointments)
            {
                <tr>
                    <th scope="row">@count@{count++;}</th>
                    <td>@req.ApplicationUser.Name</td>
                    <td>@req.Slot.AvailableFrom - @req.Slot.AvailableTill</td>
                    <td>@req.Status</td>
                    @if(req.Status == AppointmentStatus.Pending)
                    {
                        <td><a href="/Doctor/ApproveAppointment/@req.Id" class="btn btn-primary">Approve</a> <a href="/Doctor/RejectAppointment/@req.Id" class="btn btn-danger">Reject</a></td>
                    }
                    else { 
                    <td></td>
                    }
                </tr>
            }
        }
    </tbody>
</table>