@model IEnumerable<DoctorAppointmentSystem.Models.Slot>

@{
    ViewBag.Title = "Slots";
}

<h2>ListSlots</h2>

<p>
    @Html.ActionLink("Create New", "CreateSlot", "Doctor")
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Available From</th>
            <th scope="col">Available Till</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 1;
            foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@count@{count++;}</th>
                    <td>
                        @Html.DisplayFor(modelItem => item.AvailableFrom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AvailableTill)
                    </td>
                    <td>
                        @if (item.Available)
                        {
                            <p>Not-Scheduled</p>
                        }
                        else
                        {
                            <p>Scheduled</p>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
