@model DoctorAppointmentSystem.ViewModels.PrescriptionsListViewModel

@{
    ViewBag.Title = "Prescriptions List";
}

<h2>Prescriptions List</h2>
<table class="table">
    <tr>
        <th>
            Patient Name
        </th>

        <th>
            Prescription
        </th>
    </tr>

    @foreach (var item in Model.Prescriptions)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
    }

</table>
