@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Doctor Appointment System</h1>
    <p class="lead">In Doctor Appoint System Patients can request for appointments.</p>
    @if (!User.Identity.IsAuthenticated)
    {
        <p><a href="/Account/Register" class="btn btn-primary btn-lg">Register &raquo;</a></p>
    }
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Doctors can</h2>

        <ul>
            <li>Signup (On signup send email with activation link / or display only activation link) without activating account user can’t login</li>
            <li>Login</li>
            <li>View list of appointments to be approved</li>
            <li>Approve an appointment</li>
            <li>Create time slots for availability</li>
            <li>View list of appointments which are scheduled with patients</li>
            <li>Keep prescription history that only specific patient and doctor can see</li>
            
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Patients can</h2>
        <ul>
            <li>Signup (On signup send email with activation link / or display only activation link) without activating account user can’t login</li>
            <li>Login</li>
            <li>Search doctors</li>
            <li>Search available time slots for appointment</li>
            <li>Request an appointment against free time slot</li>
            <li>View list of approved appointments	</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Admin can</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
    </div>
</div>