@model DoctorAppointmentSystem.ViewModels.RequestsViewModel
@using DoctorAppointmentSystem.Models

@{
    ViewBag.Title = "Approved Appointments";
}

<h2>Approved Appointments</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Doctor</th>
            <th scope="col">Slot</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 1;
            foreach (var req in Model.Appointments)
            {
                <tr>
                    <th scope="row">@count@{count++;}</th>
                    <td>@req.Slot.ApplicationUser.Name</td>
                    <td>@req.Slot.AvailableFrom - @req.Slot.AvailableTill</td>
                    <td>@req.Status</td>
                </tr>
            }
        }
    </tbody>
</table>