@{
    ViewBag.Title = "DoctorDetails";
}

<h2>Doctor - Details</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Available From</th>
            <th scope="col">Available Till</th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 1;
            foreach (var slot in Model.Slots)
            {
                <tr>
                    <th scope="row">@count@{count++;}</th>
                    <td>@slot.AvailableFrom</td>
                    <td>@slot.AvailableTill</td>
                    @*<td><a href="/Patient/doctordetails/@doc.Id">View Slots for Appointment</a></td>*@
                </tr>
            }
        }
    </tbody>
</table>
